body {
  color: #050070;
  font-family: sans-serif;
  background-color: #eaf6fa;
  height: 100vh;
  font-family: monospace;
}

summary::marker {
  content: '';
}

article {
  border: 3px dashed #050070;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  height: 250px;
  width: 600px;
  text-align: center;
}

.icon {
  max-width: 80px;
  max-height: 80px;
  cursor: pointer;
  position: absolute;
}

.detail-browser,
.detail-battery,
.detail-mail,
.detail-calendar,
.detail-folder {
  position: absolute;
  max-width: 300px;
}

.detail-browser {
  top: 150px;
  right: 450px;
  width: 100%;
}

.detail-battery {
  bottom: 200px;
  right: 260px;
  width: 100%;
}

.detail-mail {
  bottom: 220px;
  left: 420px;
  width: 100%;
}

.detail-calendar {
  top: 125px;
  left: 410px;
  width: 100%;
}

.detail-folder {
  top: 100px;
  right: 200px;
  width: 100%;
}

.text {
  border: 3px dashed #050070;
  background-color: #eaf6fa;
  position: absolute;
  padding: 20px;
  top: 80px;
  z-index: 2;
}

.text-mail,
.text-battery {
  top: -320px;
}

.button {
  text-decoration: underline;
  cursor: pointer;
}

.instructions {
  background-color: #eaf6fa;
  border: 3px dashed #050070;
  padding: 20px;
}

.note {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
